.movie-item__description_add {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;

  border: none;
  background-color: transparent;
  color: #7B6EF6;

  width: max-content;
  vertical-align: middle;
  padding: 0;

  transition: all 0.5s;
}

.movie-item__description_add img {
  vertical-align: middle;
  padding-right: 8px;

  transition: filter 0.5s;
}

.movie-item__description_add:hover {
  color: rgb(255, 255, 255)
}

.movie-item__description_add:hover img {
  filter: brightness(2.5);
}

@media (max-width: 600px) {
  .movie-item__description_add {
    font-size: 12px;
  }

  .movie-item__description_add img {
    padding-right: 4px;
  }
}