.top-panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bottom-panel {
  padding: 80px 0 0 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px 24px;
  justify-content: center;
}

.loader {
  margin: auto;
  border: 5px solid #0e1320;
  border-radius: 50%;
  border-top: 5px solid #121829CC;
  width: 50px;
  height: 50px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 625px) {
  .bottom-panel {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 8px 12px;
  }
}