.title__h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;

}

.title__text {
  font-size: 16px;

  color: #8E95A9;

  padding-top: 16px;
  width: 40%;
}

@media (max-width: 600px) {
  .title__text {
    width: 100%;
  }
}