.header {
  background: #121829CC;
  backdrop-filter: blur(40px);

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  box-sizing: border-box;

  width: 100%;
  padding: 16px 8%;

  display: flex;
  justify-content: space-between;
}

.favourites-a {
  display: block;
  align-self: center;
  max-height: 40px;
}

.header__nav {
  list-style: none;

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  gap: 16px;
}

.header__nav-item a {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #A8AEBF;

  padding: 12px 16px;
}

.header__nav-item-image {
  margin-left: 8px;
  vertical-align: middle;

  transition: all 0.5s;
}

.header__nav-item a:hover {
  color: #FFFFFF;
}

.header__nav-item a:hover .header__nav-item-image {
  filter: brightness(1.5);
  transition: filter 0.5s;
}

@media (max-width: 6250px) {
  .header__nav {
    gap: 8px;
  }

  .header__nav-item {
    width: max-content;
  }

  .header__nav-item a {
    font-size: 14px;
    padding: 6px 8px;
  }
}